#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  width: 50vw;
  box-shadow: 5px 5px 10px grey;
  min-height: 900px;
  background-color: white;
}

.participant{
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 5px 5px 10px black;
}

.grocery{
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px 0;
  padding-top: 7px;
}

.beverages{
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px 0;
  padding-top: 7px;
}

#shopping_h5{
  height: 40px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px;
  margin: 20px 0 0 0;
  padding-top: 7px;
}

.card_participant{
  margin-bottom: 500px;
  padding: 3em;
  box-shadow: 5px 5px 10px black;
  border-radius: 10px;
  background-color: white;
  max-width: 330px;
}

form{
  text-align: left;
  margin-top: 40px;
}

.participant_buttons button{
  margin: 10px;
  background-color: #545B62;
  box-shadow: 5px 5px 10px grey;
}

.participant_buttons button:hover{
  margin: 10px;
  background-color: #545558;
  box-shadow: 5px 5px 10px grey;
}

.border-right{
  border-right: solid;
  border-color: lightgray;
  border-width: 1px;
}

.border-bottom{
  border-bottom: solid;
  border-color: lightgray;
  border-width: 1px;
}

.read-the-docs {
  color: #888;
}

.list_buttons{
  display: flex;
  justify-content: flex-end;
}

#edit{
  background-color: #739AC1;
}

#edit:hover{
  color: lightgrey;
  border: 1px solid lightgrey;
}

#delete{
  background-color: #CD7272;
  width: 42px;
}

#delete:hover{
  color: lightgrey;
  border: 1px solid lightgrey;
}

select{
  width: 250px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  background-color: #545B62;
}

select option{
  background-color: white;
  color:black;
}


.beverage_component{
  text-align: left;
  margin-top: 30px;
}

.meat_eater_title{
  margin-top: 120px;
  }

.meat_eater{
  text-align: center;
  margin-bottom: 20px;
}

.form_button{
  text-align: center;
}

@media only screen and (max-width: 1100px){
  .card{
    width: 70vw;
  }
  .list_buttons{
    justify-content: center;
  }
}

@media only screen and (max-width: 800px){
  #root {
   padding: 0;
  }
  .card{
    width: 90vw;
  }
}